<% media.forEach(m => { %>
    <% if (m.type == 'video' || m.type == 'animated_gif') { %>
    <% 
        const variants = m.video_info.variants;
        if (variants.length != 0) {
    %>
    <video width="340" poster="<%= m.media_url_https %>" muted controls preload="none">
    <%
        variants.filter((video, index, array) => { return video.content_type.startsWith("video"); }).forEach((video, index, array) => {
    %>
    <source src="<%= video.url %>" type="<%= video.content_type %>"/>
    <%
        })
    %>
    </video>
    <% } %>
    <% } else { %>
    <%- include('linkbutton', {title: 'Click to view larger image', msg: {cmd: 'image', args: {src: m.media_url_https + ':large'}}}); -%>
    <% if (quoted || media.length > 1) { %>
    <img style="border-radius:8px;" src="<%= m.media_url_https + ':thumb' %>"/>
    <% } else { %>
    <div style="width:340px;max-height:480px;overflow: hidden;border-radius:8px;display:inline-block;"><img style="border-radius:8px;" src="<%= m.media_url_https + ':small' %>"/></div>
    <% } %>
    
    <%- include('linkbuttonend') -%>
    <% } %>
<% },) %>
