<% parts.forEach(part => { %>

<% if (part[0] == 'userMention') { %>
<%- include('linkbutton', {msg: {cmd:'user', args: {screenName:part[1].text.slice(1)}}}) -%>
<%= part[1].text %>
<%- include('linkbuttonend') -%>
<% } else if (part[0] == 'hashTag') { %>
<%- include('linkbutton', {msg: {cmd:'search', args: {value:part[1].text}}}) -%>
<%= part[1].text %>
<%- include('linkbuttonend') -%>
<% } else if (part[0] == 'symbol') { %>
<%- include('linkbutton', {msg: {cmd:'search', args: {value:part[1].text}}}) -%>
<%= part[1].text %>
<%- include('linkbuttonend') -%>
<% } else if (part[0] == 'url') { %>
<a target="_blank" href="<%= part[1].url %>"><%= part[1].text %></a>
<% } else { %>
<%= part[1].text %>
<% } %>

<% }) %>