<%
    const refreshSymbol = '\u21BB';
%>

<html>
    <head>
        <!--link rel="stylesheet" href="https://raw.githubusercontent.com/Microsoft/vscode/master/extensions/markdown/media/markdown.css" type="text/css" media="screen"-->
        <style>
            *{font-size: inherit;} 
            h1{font-size: 2em;} 
            span.liked{color: red;} 
            span.liked > a {color: red;} 
            span.retweeted{color: green;}
            span.retweeted > a {color: green}
            span.unfollowed{color: red;}
            span.unfollowed > a{color: red;}
            span.followed{color: green;}
            span.followed > a{color: green;}
        </style>
        <script>
            const vscode = acquireVsCodeApi();

            window.addEventListener('message', event => {
                const message = event.data; // The JSON data our extension sent
                var hid = message.hid;
                var html = message.html;
                document.getElementById(hid).outerHTML = html;
            });
        </script>
    </head>
        
    <body>
        <div style="padding-right:16px;">
            <h1><%= title %>&nbsp;
                <%- include('linkbutton', {title: 'Click to load new tweets', msg: {cmd:'refresh', args:{loadNew:true}}}) -%>
                <%= refreshSymbol %>
                <%- include('linkbuttonend') -%>
                &nbsp;&nbsp;
                <span style = "font-size:0.5em;">Last updated at <%= moment().format('h:mm A, MMM D, YYYY') %></span>
            </h1>
            <% if (type == 'user' || type == 'other') { %>
            <div id = "user">
                <%- include('user', {user, quoted: false, type: 'profile', moment, uniqid, nomedia}) -%>
            </div>
            <% } %>
            <div id = "tweets">
            <% if (tweets.length > 0) { %>
            <% tweets.forEach(tweet => { %>
            <%- include('tweet', {tweet, quoted: false, moment, uniqid, nomedia}) -%>
            <% }) %>
            <% } else { %>
            Sorry, we didn’t find any results.
            <% } %>
            </div>
            <center>
            <h1>
                <%- include('linkbutton',  {title: 'Click to load older tweets', msg: {cmd:'refresh', args:{loadNew:false}}}) -%>
                Load More
                <%- include('linkbuttonend') -%>
            </h1>
            </center>
        </div>
    </body>
</html>
