<%
    const dotSeparator = ' \u2022 ';
%>

<% if (quoted) { %> 
<blockquote style="padding-left:16px;padding-right:20px;">
<% } %>

<p>
<%- include('user', {user: tweet.user, quoted, type: quoted ? 'quoted' : 'tweet', uniqid, nomedia}) -%> 
<% if (!quoted) {%>
<%= dotSeparator %> <%= moment(tweet.created.replace(/( +)/, ' UTC$1')).fromNow() %> 
<% } %>
&nbsp;(<a href="<%= 'https://twitter.com/' + tweet.user.screenName + '/status/' + tweet.id %>">Details</a>)
</p>

<% if (tweet.replyTo) { %>
<p> Replying to 
<%- include('linkbutton', {title: '@' + tweet.replyTo, msg: {cmd:'user', args: {screenName:tweet.replyTo}}}) -%>
<%= '@' + tweet.replyTo %>
<%- include('linkbuttonend') -%> 
</p>
<% } %>

<p>
<%- include('parsedentities', {parts: tweet.parsedText}) -%>
</p>

<p>
<% if (!nomedia && tweet.entity.media != null) { %>
<%- include('media', {media: tweet.entity.media, quoted}) -%>
<% } %>
</p>

<% if (quoted) { %>
</blockquote>
<% } %>