<%
    const spaceSeparator = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
    const retweetSymbol = '\u267A';
    const replySymbol = 'Reply';
%>
<div>

<% if (tweet.retweetedStatus) { %>
<p> <%= retweetSymbol %> <%- include('user', {user:tweet.user, quoted, type: 'retweet', uniqid}) -%> Retweeted</p>
<%- include('tweet', {tweet: tweet.retweetedStatus, quoted, moment}) -%>
<% } else { %>

<%- include('tweetcontent', {tweet, quoted, moment, uniqid}) -%>

<% if (tweet.quoted != null) { %>
<%- include('tweetcontent', {tweet: tweet.quoted, quoted: true, moment, uniqid}) -%>
<% } %>

<p>
<%- include('linkbutton', {text: replySymbol, title: 'Click to reply', msg: {cmd:'reply', args:{id:tweet.id, user:tweet.user.screenName}}}) -%>
<%- spaceSeparator %>
<%- include('retweetlink', {tweet, uniqid}) -%>
<%- spaceSeparator %>
<%- include('likelink', {tweet, uniqid}) -%>
</p>
</div>
<hr/>
<% } %>